body{
  font-family: Arial;
  background: linear-gradient(135deg, purple, blue);
  color:white;
  text-align:center;
  padding:50px;
}

.search-box{
  margin-bottom:20px;
}

#cityInput{
  padding:10px;
  width:200px;
  border-radius:5px;
  border:none;
}

#searchBtn{
  padding:10px 15px;
  border:none;
  border-radius:5px;
  background:orange;
  cursor:pointer;
}

#searchBtn:hover{
  background:darkorange;
}

#weather{
  background:white;
  color:black;
  padding:20px;
  border-radius:10px;
  display:inline-block;
  min-width:250px;
}

/* ❌ Error */
.error{
  color:red;
  font-weight:bold;
}

/* ⏳ Loader */
.loader{
  border:5px solid #f3f3f3;
  border-top:5px solid blue;
  border-radius:50%;
  width:40px;
  height:40px;
  animation:spin 1s linear infinite;
  margin:auto;
}

@keyframes spin{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}