body {
  font-family: Arial;
  background: #4facfe;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

.search-box input {
  padding: 10px;
  width: 200px;
}

.search-box button {
  padding: 10px;
  cursor: pointer;
}

/* Weather */
#weatherContainer {
  margin-top: 20px;
}

/* Forecast */
#forecastContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.card {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
}

/* Recent Searches */
#recentContainer {
  margin-top: 20px;
}

#recentList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.recent-btn {
  padding: 5px 10px;
  border: none;
  background: white;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}

#clearBtn {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}
